body {
    padding-top: 70px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
pre {
    white-space: pre-wrap;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    word-break: inherit;
    word-wrap: inherit;
    margin-top: 10px;
}
.hideOverflow {
    overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
    white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
    text-overflow: ellipsis; /* to do what you want. */
}

.chat-panel .panel-body {
    height: 400px;
    overflow-y: scroll;
}

.navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand.active {
  color: #fec503;
}
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.dropdown-menu>li>a {
    padding-top: 9px;
    padding-bottom: 9px;
}


.timeline > li > .timeline-panel.sent {
    background-color: #eee;
}

.timeline > li > .timeline-panel.sent:after {
    border-right: 0 solid #eee;
    border-left: 14px solid #eee;
}

.timeline > li > .timeline-panel.didntSend {
    background-color: #f2dede;
}

.timeline > li > .timeline-panel.didntSend:after {
    border-right: 0 solid #f2dede;
    border-left: 14px solid #f2dede;
}

/*

    timeline

    http://bootsnipp.com/snippets/featured/timeline-responsive

*/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


/* jumbotron */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 40px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* datepicker */
.datepicker.dropdown-menu {
    width: 250px;
    height: 290px;
}
.datepicker.dropdown-menu  button {
    outline: none;
    border: 0px;
}
.datepicker.dropdown-menu  tbody {
    height: 180px;
}
.datepicker.dropdown-menu  tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}


/* calendar */

    mwl-calendar .cal-day-today {
        background-color: #fff;
    }
    mwl-calendar .cal-day-past {
        background-color: #ccc;
    }
    mwl-calendar .cal-date {
        text-align: left;
        padding: 10px;
    }
    mwl-calendar .cal-day-today .cal-date,
    mwl-calendar .cal-day-today .cal-bottom-right {
        font-weight: bold;
    }
    mwl-calendar .cal-price {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        line-height: 0.9;
        position: absolute;
        top: 50%;
        height: 30px;
        margin-top: -15px;
        left: 0;
        right: 0;
    }
    mwl-calendar .cal-price.busy {
        color: #dce0e0;
    }
    mwl-calendar .cal-day-past .cal-price {
        color: #a0a0a0;
    }
    mwl-calendar .cal-day-past .cal-price.busy {
        color: #EEEEEE;
    }
    mwl-calendar .cal-day-busy {
        background-color: #eee;
    }
    mwl-calendar .cal-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;
    }
/*    mwl-calendar .reservation-bar {
        background-color: #00a699;
        color: #fff;
    }
    mwl-calendar .tile-bar {
        position: absolute;
        top: 50%;
        height: 22px;
        margin-top: -11px;
        left: 0;
        right: 0;
    }
    mwl-calendar .tile-bar-first {
        -webkit-border-top-left-radius: 11px;
        -moz-border-radius-topleft: 11px;
        border-top-left-radius: 11px;
        -webkit-border-bottom-left-radius: 11px;
        -moz-border-radius-bottomleft: 11px;
        border-bottom-left-radius: 11px;
    }
    mwl-calendar .tile-bar-last {
        -webkit-border-top-right-radius: 11px;
        -moz-border-radius-topright: 11px;
        border-top-right-radius: 11px;
        -webkit-border-bottom-right-radius: 11px;
        -moz-border-radius-bottomright: 11px;
        border-bottom-right-radius: 11px;
    }*/



/* angular-drag-and-drop-lists */

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

