<% include ../header %>
<div style="color:#555555;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;">
    <div style="font-size:12px;line-height:14px;font-family:Lato, Tahoma, Verdana, Segoe, sans-serif;color:#555555;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px"><pre style="font-size: 16px; line-height: 19px;display: block;padding: 9.5px;margin: 0 0 10px;color: #333;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;background-color: #FFF;border: 1px solid #ccc;"><%= messageText %></pre></p></div>
</div>
<% include ../footer %>