<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" name="listingSettingsForm" ng-submit="submitEditListingSettingsForm(listingSettingsForm.$valid)" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="hideListingSettings()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Listing Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nickname <i class="fa fa-question-circle text-muted" bs-tooltip data-title="The listing nickname is for your refrence only, it will not be changed on your public listing."></i></label>
                                <input class="form-control" name="nickname" type="text" ng-model="listingSettings.nickname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Minimum Price <i class="fa fa-question-circle text-muted" bs-tooltip data-title="The listing minimum price is the lowest the pricing engine will set your price to."></i></label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" name="minPrice" type="number" ng-model="listingSettings.minPrice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-outline" ng-click="hideListingSettings()">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-outline">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
